
@{
    ViewBag.Title = "COLOR CHANGER";
}

<h2>COLORCHANGER</h2>

<h3>Production</h3>
<head>
    <style>
        .tdSubworkcolor {
            background-color: #FFFFFF; /* Change background color */
            height: 50px;
            width: 50px;
        }
        .tdSubworkStorecolor {
            background-color: #C3C3C3; /* Change background color */
            height: 50px;
            width: 50px;
        }
        .tdSubworkProdcolor {
            background-color: #FF9933; /* Change background color */
            height: 50px;
            width: 50px;
        }
        .tddescription {
            height: 50px;
            width: 350px;
        }
        .h0colors {
            background-color: #b8cce4; /* Change background color */
            height: 50px;
            width: 50px;
        }
        .A0color {
            background-color: #e6e60c; /* Change background color */
            height: 50px;
            width: 50px;
        }
        .rackJcolor {
            background-color: #1a9526; /* Change background color */
            height: 50px;
            width: 50px;
        }
    </style>
</head>
<table class="table-bordered text-center">
    <tr>
        <td>
            Process
        </td>
        <td>
            Color
        </td>
    </tr>
    <tr>
        <td class="tddescription">
            <a>Subwork Kanban SUBWORK process</a>
        </td>
        <td class="tdSubworkcolor">

        </td>
    </tr>
    <tr>
        <td class="tddescription">
            <a>Subwork Store Kanban</a>
        </td>
        <td class="tdSubworkStorecolor">

        </td>
    </tr>
    <tr>
        <td class="tddescription">
            <a>Production Kanban SUBWORK PROCESS</a>
        </td>
        <td class="tdSubworkProdcolor">
        </td>
    </tr>
    <tr>
        <td class="tddescription">
            <a>H0-1 -> 4 & H0 - Final & H0-SB - Supplier Bin & H0-SK - Supplier Kitting PROCESS</a>
        </td>
        <td class="h0colors">
        </td>
    </tr>
    <tr>
        <td class="tddescription">
            <a>A0 - Drop in PROCESS</a>
        </td>
        <td class="A0color">
        </td>
    </tr>
    <tr>
        <td class="tddescription">
            <a>A0-J - Drop in Rack J & H0-J - Final Rack J </a>
        </td>
        <td class="rackJcolor">
        </td>
    </tr>
</table>

<h3>Warehouse</h3>
<table class="table-bordered text-center">
    <tr>
        <td class="tddescription">
            H0-SK
        </td>
        <td style="background-color: #FF6600; height:50px; width:50px">
        </td>
    </tr>
    <tr>
        <td class="tddescription">
            SUBWORK
        </td>
        <td style="background-color: #C3C3C3; height: 50px; width: 50px">
        </td>
    </tr>
    <tr>
        <td class="tddescription">
            A0
        </td>
        <td style="background-color: #F1B6FF; height: 50px; width: 50px">
        </td>
    </tr>
    <tr>
        <td class="tddescription">
            A0-J
        </td>
        <td style="background-color: #FF70D9; height: 50px; width: 50px">
        </td>
    </tr>
</table>
