@model IEnumerable<WebApplication1.Models.RMWKDS>

@{
    ViewBag.Title = "GENERATE_RM_WAREHOUSE_STOCKS";
}

<h2>Raw Material Warehouse Stock</h2>


<div class="container-fluid body-content">

    <div class="form-group">
        <div class="col-md-10">

            <div class="table">
                @using (Html.BeginForm("GENERATE_RM_WAREHOUSE_STOCKS", "KANBAN_MASTER", FormMethod.Get))
                {

                    @Html.DropDownList("storageBins", new SelectList(ViewBag.rackslist, "RACK"))

                    <input type="submit" value="Generate" />
                }

            </div>

            <div class="table">
                <table class="table table-bordered">

                </table>
            </div>

        </div>
    </div>
</div>